table {
	border-collapse: collapse;
}

table thead {
	background-color: #333333;
	color: #dddddd;
	text-align: center;
}

table thead tr th {
	padding: .5rem 1rem;
}

table tbody tr td {
	padding: .5rem 1rem;
	text-align: right;
}
table tbody tr td:first-child, table tbody  tr td:nth-child(2) {
	text-align: left;
}

table tbody tr:nth-child(even) {
	background-color: #cccccc;
}
